<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="text/javascript" src="js/jquery.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap.min.js" charset="UTF-8"></script>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<title>ダッシュボード</title>

<style th:replace="fragments :: standard-style"></style>

</head>
<body>

<nav th:replace="fragments :: navbar" ></nav>

<div class="container">

	<div class="content">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			<a href="/memo">メモ</a>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>

</body>
</html>